.button0{
    all:unset;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #FF556E;
    text-align: center;
    background-color: transparent;
    border: 2px solid #FF556E;
    border-radius: 35px;
    padding: 8px 16px;
    cursor:pointer
}


