#root {
  font-family: 'OpenSans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 62.5%;
  width: 100%;
}

:root{
  color-scheme: light dark;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 700px;
  font-size: 3.5rem;
  color:#333333;
}

p{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 400px;
  font-size: 2rem;
  color:#777;

}


